.article {
    margin: 40px auto;
}

.article h1 {
    font-size: 45px;
    font-weight: 400;
    color: #f15a22;
    margin-bottom: 40px;
}

.article .article-intro,
.article .article-body {
    font-size: 16px;
    color: #63605d;
}

.article .article-intro h3,
.article .article-body h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
