.bundles-list {
    overflow: hidden;
}

.bundles-list-header {
    border-top: 1px solid #444;
}

.bundles-list-header p {
    padding: 50px 0 0 0;
    font-size: 19px;
}

.bundles-list-content .bundles-list-container {
    border-top: 1px solid #979797;
    margin: 40px auto 0 auto;
    padding: 30px 0 0 0;
}
