header .container,
footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER - NAV */
.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand, .navbar-nav li a {
    line-height: 23px;
    height: 60px;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-right {
    float: right!important;
    margin-right: 0;
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
    }
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar-nav>li>a {
    color: #63605d;
    font-size: 18px;
    font-weight: 400;
}

.navbar-brand, .navbar-nav li a {
    line-height: 23px;
    height: 60px;
}

/* FOOTER */
footer .footer-content a:visited {
    color: #fff;
}

footer .copyright-content a:visited {
    color: #f7941d;
}

footer .logo {
    margin-bottom: 20px;
    width: 120px;
}

.footer-content {
    color: #e6e7e8;
    background-color: #4c4c4c;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-content h4 {
    margin-top: 0;
    font-size: 18px;
}

.footer-content ul {
    padding: 0;
}

.footer-content li {
    list-style: none;
    padding-bottom: 5px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: #f7941d;
}

footer .footer-social i.fa {
    color: #fff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 75px;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    margin: 2px 10px 0 0;
    padding: 0;
}

.copyright-content {
    background-color: #3a3a3a;
    color: #d2c5bd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-content a,
.copyright-content a:hover {
    color: #f7941d;
}

.footer-social a:hover i.fa-youtube,
.footer-social a:hover i.fa-google-plus,
.footer-social a:hover i.fa-facebook,
.footer-social a:hover i.fa-linkedin,
.footer-social a:hover i.fa-twitter {
    color: #f7941d;
    border-color: #f7941d;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    header .container,
    footer .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    header .container,
    footer .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    header .container,
    footer .container {
        width: 1170px;
    }
}
