section#download h2 {
    margin-top: 90px;
    margin-bottom: 70px;
    color: #f15a22;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

section#download h3 {
    color: #63605d;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

section#download li.nav,
section#download div.details {
    border: 3px solid #f7f5f2;
}

section#download li.nav img {
    max-height: 97px;
}

section#download div.details {
    margin-top: 35px;
}

section#download div.details p {
    font-size: 15px;
}

section#download .nav-pills>li.active>a,
section#download .nav-pills>li.active>a:focus,
section#download .nav-pills>li.active>a:hover {
    color: #fff;
    background: #f7f5f2;
    border-radius: 0;
}

section#download .nav>li>a:focus,
section#download .nav>li>a:hover {
    border-radius: 0;
    background: #f5f1ec;
}

section#download li.nav .label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #63605d;
    margin-top: 15px;
}

section#download li.active .label {
    color: #f15a22;
}

section#download li.nav img {
    width: 125px;
}

section#download .description {
    color: #63605d;
    font-size: 17px;
    padding-bottom: 10px;
}

section#download .window a {
    text-decoration: none;
}

section#download .window span {
    line-height: 9px;
    vertical-align: 50%;
}

section#download .window {
    width: 44vw;
    height: auto;
    margin: auto;
    margin-top: 3.5vh;
    background: #2e2e2e;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: none;
    font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    max-width: 750px;
}

section#download .window .orange {
    color: #f15a22;
}

section#download .window .green {
    color: #029740;
}

section#download .window span.orange {
    line-height: 20px;
    vertical-align: baseline;
}

section#download .window .help {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}

section#download .titlebar {
    background: #e3e5e5;
    color: #4d494d;
    font-size: 11pt;
    line-height: 35px;
    text-align: center;
    width: 100%;
    height: 35px;
    border-top: none;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

section#download .buttons {
    padding-left: 15px;
    padding-top: 12px;
    float: left;
    line-height: 0;
}

section#download .buttons:hover a {
    visibility: visible;
}

section#download .close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 13px;
    height: 13px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
    float: none;
    opacity: 1;
}

section#download .close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

section#download .close:active .closebutton {
    color: #4e0002;
}

section#download .closebutton {
    color: #820005;
    visibility: hidden;
    cursor: default;
}

section#download .minimize {
    background: #ffbd4c;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 4px;
    width: 13px;
    height: 13px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
}

section#download .minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
}

section#download .minimize:active .minimizebutton {
    color: #5a2607;
}

section#download .minimizebutton {
    color: #9a5518;
    visibility: hidden;
    cursor: default;
}

section#download .zoom {
    background: #00ca56;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 6px;
    width: 13px;
    height: 13px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
}

section#download .zoom:active {
    background: #029740;
    border: 1px solid #128435;
}

section#download .zoom:active .zoombutton {
    color: #003107;
}

section#download .zoombutton {
    color: #006519;
    visibility: hidden;
    cursor: default;
}

section#download .window .content {
    padding: 20px;
}

section#download #composer-option .content {
    font-family: monospace;
}

section#download .window h3 {
    margin-top: 0;
}

section#download .download-table {
    margin-top: 40px;
}

section#download .download-table thead th {
    background: #f15a22;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

section#download .download-table thead th:first-child {
    border-radius: 7px 0 0 0;
    width: 20%;
}
section#download .download-table thead th:last-child {
    border-radius: 0 7px 0 0;
    width: 20%;
}

section#download .download-table thead tr {
    height: 50px;
}

section#download .download-table tr.beta td a,
section#download .download-table tr.beta th a {
    display: block;
    line-height: 80px;
    color: #fff;
    text-decoration: none;
}

section#download .download-table tr.beta td,
section#download .download-table tr.beta th {
    height: 80px;
    background: #f7941d;
    color: #fff;
    padding: 0;
    margin: 0;
    border-top: none;
    text-align: center;
    text-transform: uppercase;
}

section#download .download-table tr.beta td.file {
    font-size: 19px;
    font-weight: 500;
}

section#download .download-table tr.beta img.download {
    width: 35px;
}

section#download .download-table tr.releases {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

section#download .download-table.table-striped>tbody>tr:nth-of-type(odd) {
    background: #f7f5f2;
}

section#download .download-table tr.releases td a,
section#download .download-table tr.releases th a {
    display: block;
    line-height: 70px;
    color: #63605d;
    text-decoration: none;
}

section#download .download-table tr.releases td,
section#download .download-table tr.releases th {
    padding: 0;
    margin: 0;
    border-top: none;
    text-align: center;
}

section#download .download-table tr.releases:hover,
section#download .download-table tr.releases:hover a,
section#download .download-table.table-striped>tbody>tr:nth-of-type(odd):hover,
section#download .download-table.table-striped>tbody>tr:nth-of-type(odd):hover a {
    background: #8b817e;
    color: #fff;
}

section#download .download-table tr.releases th {
    font-weight: 300;
    font-size: 15px;
    color: #63605d;
}

section#download .download-table tr.releases.ezpublish:hover,
section#download .download-table tr.releases.ezpublish:hover a,
section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd):hover,
section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd):hover a {
    background: transparent;
    font-weight: 300;
}

section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd):hover,
section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd):hover a,
section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd),
section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd):hover a {
    background: #fff;
    color: #f15a22;
}

section#download .download-table.table-striped>tbody>tr.releases.ezpublish:nth-of-type(odd) {
    border-top: 1px solid #ccc;
}

section#download .download-table tr.releases.ezpublish th a {
    display: inline;
    color: #f15a22;
    line-height: 60px;
}

section#download .download-table tr.releases.ezpublish {
    border-bottom: 1px solid #ccc;
}

section#download #platform-sh-option img.rocket {
    margin: 40px 0;
    max-height: 250px;
}
