.embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 25px;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-code {
    background: #4c4c4c;
    padding: 0;
    margin: 0 0 30px 0;
}

.embed-code pre {
    border-radius: 0;
    margin-bottom: 5px;
    background: #f2f2f2;
}

.embed-code .embed-code-filename {
    font-size: 12px;
    color: #ccc;
    padding: 10px;
}

.embed-image {
    margin: 0 0 30px 0;
    background: #4c4c4c;
    display: inline-block;
    padding: 0;
}

.embed-image .embed-image-caption {
    margin-top: 5px;
    font-size: 12px;
    color: #ccc;
    padding: 10px;
}
