@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-Regular.eot"),
    url("../fonts/MavenPro-Regular.ttf") format("truetype"),
    url("../fonts/MavenPro-Regular.svg#MavenPro-Regular") format("svg"),
    url("../fonts/MavenPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenProLight100-Regular.eot"),
    url("../fonts/MavenProLight100-Regular.ttf") format("truetype"),
    url("../fonts/MavenProLight100-Regular.svg#MavenProLight100-Regular") format("svg"),
    url("../fonts/MavenProLight100-Regular.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenProLight200-Regular.eot"),
    url("../fonts/MavenProLight200-Regular.ttf") format("truetype"),
    url("../fonts/MavenProLight200-Regular.svg#MavenProLight200-Regular") format("svg"),
    url("../fonts/MavenProLight200-Regular.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenProLight300-Regular.eot"),
    url("../fonts/MavenProLight300-Regular.ttf") format("truetype"),
    url("../fonts/MavenProLight300-Regular.svg#MavenProLight300-Regular") format("svg"),
    url("../fonts/MavenProLight300-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-Medium.eot"),
    url("../fonts/MavenPro-Medium.ttf") format("truetype"),
    url("../fonts/MavenPro-Medium.svg#MavenPro-Medium") format("svg"),
    url("../fonts/MavenPro-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-Bold.eot"),
    url("../fonts/MavenPro-Bold.ttf") format("truetype"),
    url("../fonts/MavenPro-Bold.svg#MavenProBold") format("svg"),
    url("../fonts/MavenPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-Black.eot"),
    url("../fonts/MavenPro-Black.ttf") format("truetype"),
    url("../fonts/MavenPro-Black.svg#MavenProBlack") format("svg"),
    url("../fonts/MavenPro-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}


body {
    font-family: "MavenPro", sans-serif;
}

main {
    background: #f7f7f7;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 27px;
}

.white-background {
    background: #fff;
}

.ez-platform-label {
    position: absolute;
    margin: 0;
    color: #e88501;
    display: inline;
    left: 18.5%;
    top: 34.6%;
    font-size: 2.44vw;
}

.btn.btn-primary.download {
    position: absolute;
    left: 15%;
    top: 59%;
    font-size: 1.12vw;
    margin: 0;
    padding: 0.72vw 3vw;
}

.btn {
    font-weight: 600;
    font-size: 21px;
    border-radius: 25px;
    padding: 10px 50px;
    white-space: normal;
}
.btn.btn-primary {
    border: none;
    background: #f15a22;
}

.btn.btn-primary:hover {
    background: #cb4716;
    border: none;
}

.btn.btn-outline {
    border: 2px solid #63605d;
    color: #63605d;
}

.btn.btn-outline:hover {
    background: #b1b1b1;
    border: 2px solid #b1b1b1;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 23px;
    height: 60px;
}

.navbar-nav>li>a {
    color: #63605d;
    font-size: 18px;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f15a22;
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 12px;
}

footer .logo {
    margin-bottom: 20px;
    width: 120px;
}

.footer-content {
    color: #e6e7e8;
    background-color: #4c4c4c;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-content h4 {
    margin-top: 0;
    font-size: 18px;
}

.footer-content ul {
    padding: 0;
}

.footer-content li {
    list-style: none;
    padding-bottom: 5px;
}

.footer-content a,
.footer-content a:hover {
    color: #fff;
    text-decoration: none;
}

footer .footer-social i.fa {
    color: #fff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 75px;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    margin: 2px 10px 0 0;
    padding: 0;
}

.copyright-content {
    background-color: #3a3a3a;
    color: #d2c5bd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-content a,
.copyright-content a:hover {
    color: #f7941d;
}
