@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .blog-post-author,
    .blog-post-author-profiles {
        text-align: center;
    }

    .blog-post-author-profiles {
        margin-bottom: 25px;
    }

    .blog-post .blog-post-author-image {
        display: none;
    }
}
