.cd-image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.cd-image-container img {
    display: block;
    width: 100%;
}

.cd-resize-img {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #f15921;

    /* force hardware acceleration in WebKit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.is-visible .cd-resize-img {
    width: 50%;

    /* bounce in animation of the modified image */
    -webkit-animation: cd-bounce-in 0.7s;
    animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    60% {
        width: 55%;
    }
    100% {
        width: 50%;
    }
}

@keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    60% {
        width: 55%;
    }
    100% {
        width: 50%;
    }
}

.cd-handle {
    position: absolute;
    height: 44px;
    width: 44px;

    /* center the element */
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: #f15921 url("../images/arrows.png") no-repeat center center;
    cursor: ew-resize;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
}

.is-visible .cd-handle {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
