{% set extraParams = extraParams is defined ? extraParams %}
{% if items|length %}
    <div class="row">
        {% for card in items %}
            <div class="col-md-4 col-xs-12">
                {{ render(controller('ez_content:viewAction', {
                    'locationId': card.package.valueObject.versionInfo.contentInfo.mainLocationId,
                    'viewType': viewType,
                    'params': {
                        'extra': extraParams,
                        'packageDetails': card.packageDetails
                    }
                })) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
