<header>

    <div class="ez_logo" style="width:90px;height:40px;"><!-- style tag is temporary until CSS is complete -->
        <img src="{{ asset('assets/images/ez-logo.svg') }}" />
    </div>

    <navigation>
        [
        <a href="https://doc.ez.no/display/DEVELOPER/Documentation"
           title="eZ Platform and eZ Enterprise Developer Documentation"
           target="_blank">Docs</a>
        |
        <a href="https://github.com/ezsystems/ezplatform"
           title="eZ Platform on GitHub"
           target="_blank">GitHub</a>
        |
        <a href="http://ez-community-on-slack.herokuapp.com/"
           title="A self-inviter to the eZ Platform Community on Slack: ezcommunity.slack.com"
           target="_blank">Slack</a>
        ]
    </navigation>

</header>
