{% extends '@ezdesign/pagelayout.html.twig' %}

{% block content %}
    <section class="blog">
        <div class="blog-top-banner">
            <div class="container">
                Developer<span>Blog</span>
            </div>
        </div>

        <div class="container">
            <div class="blog-posts-container">
                {% include '@ezdesign/parts/content_list.html.twig' with {
                    'items': posts,
                    'viewType': 'line',
                    'extraParams': {
                        'page': 1
                    }
                } only %}
            </div>
            <div class="row">
                <div class="button-load-more col-md-6 col-md-offset-3">
                    {% if posts.totalCount > posts.searchHits|length %}
                        <button class="load-more" data-url="/ezplatform/blog/load/page" data-page="2" data-target=".blog-posts-container">Load more</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
