<a href="{{ params.url }}" class="btn btn-primary ezbutton{% if params.class is defined %} {{ params.class }}{% endif %}" {% if params.target is defined %}target="{{ params.target }}"{% endif %}>
    {{ params.title }}
</a>
