<div class="factbox">
    <div class="card factbox-card">
        <div class="card-header factobx-card__header">
            {{ params.title }}
        </div>
        <div class="card-body factbox-card__body">
            {{ content|raw }}
        </div>
    </div>
</div>
