<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="logotype" width="200" height="100" src="{{ asset('images/ibexa_logo.svg', 'ezdesign') }}" alt="ibexa" />
                </div>

                <div class="col-md-3">
                    {{ ez_render_field(content, 'footer_ez_links') }}
                </div>

                <div class="col-md-3">
                    {{ ez_render_field(content, 'footer_doc_links') }}
                </div>

                <div class="col-md-3 footer-social text-center">
                    <h4>Follow us on social media</h4>

                    <a href="https://www.youtube.com/c/ibexa/" target="_blank">
                        <i class="fa fa-youtube fa"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/ibexa/" target="_blank">
                        <i class="fa fa-linkedin fa"></i>
                    </a>
                    <a href="https://facebook.com/ibexa.co" target="_blank">
                        <i class="fa fa-facebook fa"></i>
                    </a>
                    <a href="https://twitter.com/ibexa_co" target="_blank">
                        <i class="fa fa-twitter fa"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright &copy; 1999-{{ 'now'|date('Y') }} Ibexa All rights reserved.</p>
                    <p>Powered by <a href="https://www.ibexa.co/product" title="eZ Platform">eZ Platform</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
