<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-faded main-menu navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img src="{{ asset('images/ez-logo.svg', 'ezdesign') }}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="//discuss.ezplatform.com/">Discuss</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://ezplatform.com/documentation-center">Docs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('ez_urlalias', {locationId: blogLocationId}) }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path(ez_route('_ezplatform_package_list')) }}">Packages</a></li>
                    <li class="nav-item"><a class="nav-link" href="//github.com/ezsystems/ezplatform" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
