<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img src="{{ asset('images/ez-logo.svg', 'ezdesign') }}">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="//discuss.ezplatform.com/">Discuss</a></li>
                    <li><a href="//doc.ezplatform.com/" target="_blank">Docs</a></li>
                    <li><a href="{{ path('ez_urlalias', {locationId: blogLocationId}) }}">Blog</a></li>
                    <li><a href="{{ path('ez_urlalias', {locationId: bundlesListLocationId}) }}">Bundles</a></li>
                    <li><a href="//github.com/ezsystems/ezplatform" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
