{{ form_start(searchBundleForm) }}
<div class="form-group">
    {{ form_widget(searchBundleForm.search, {'id': 'bundles-list-search-query'} )}}
    <div class="input-group-addon">
        <button type="submit" class="btn bundles-list-search-button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>
{{ form_end(searchBundleForm) }}
