$orange: #f37021;
$grey: #63605d;

//Bundle full header background color
$bright-orange: #faa61a;

//Bundle star color
$primary: #f15a22;

//Bundle list and bundle full background color
$bright-grey: #f7f7f7;
