$orange: #f37021;
$grey: #63605d;
$red: #dc3545;

//Bundle full header background color
$bright-orange: #faa61a;

//Bundle star color
$primary: #f15a22;

//Bundle list and bundle full background color
$bright-grey: #f7f7f7;



// Colors
$ibexa-main: #151c25;
$ibexa-white: #fff;
$ibexa-orange: #ff4713;
$ibexa-red: #db0032;
$ibexa-jazzberry: #ae1164;
$ibexa-dusk-black: #131c26;
$ibexa-black: #000;
$ibexa-graphite: #3d3d3d;
$ibexa-snow: #e0e0e8;
$ibexa-grey: #f2f2f2;
$ibexa-mouse-grey: #BFBFBF;
$ibexa-dark-grey: #666;
$ibexa-gold-partners: #fffaf8;
$ibexa-wheat: #f8f2ef;
$ibexa-silver-grey: #8692A0;
$ibexa-smoke: #2D3C4C;

$ibexa-platinum: #E5E4E2;
$ibexa-gold: #FCB627;
$ibexa-silver: #C0C0C0;
