.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.factbox {
    margin: 40px 0;

    .factbox-card__body {
        p {
            font-size: 30px;
            font-family: 'Playfair Display', 'Times New Roman', Georgia, serif;

            &:first-child:first-letter {
                font-size: 30px;
                padding-right: 0;
                float: none;
                line-height: 40px;
            }
        }
    }
}
