.documentation-center .btn {
  width: 100%;
}

.documentation-center h3 {
  margin-top: 1em;
}

.documentation-center .row-header div div {
  border-radius: 10px;
  text-align: center;
}

.documentation-center .row-header .documentation-center-content div {
  background-color: #f59331;
}

.documentation-center .row-header .documentation-center-commerce div {
  background-color: #7a68a6;
}

.documentation-center .row-header .documentation-center-personalization div {
  background-color: #1fa667;
}

.documentation-center-content .btn-primary {
  background-color: #f59331;
}

.documentation-center-commerce .btn-primary {
  background-color: #7a68a6;
}

.documentation-center-personalization .btn-primary {
  background-color: #1fa667;
}

.documentation-center img {
  width: auto;
  height:200px;
}
