.embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 25px;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-code {
    padding: 0;
    margin: 0 0 30px 0;
    color: #666;
}

.embed-code pre {
    border-radius: 0;
    margin-bottom: 5px;
    background: #f2f2f2;
    font-size: 13px;
    padding: 9.5px;
    border: 1px solid #ccc;
}

.embed-code .embed-code-filename {
    font-size: 13px;
    color: #666;
    padding: 10px 0;
    font-style: italic;
}

.embed-image {
    margin: 0 0 30px 0;
    display: inline-block;
    padding: 0;
}

.embed-image .embed-image-caption {
    margin-top: 5px;
    font-size: 13px;
    color: #666;
    padding: 10px 0;
    font-style: italic;
}

.embed-image .embed-image-caption p {
    font-size: 13px;
    margin: 0;
}
