@font-face {
    font-family: "MavenPro";
    src: url("/assets/fonts/MavenPro-Regular.eot"),
    url("/assets/fonts/MavenPro-Regular.ttf") format("truetype"),
    url("/assets/fonts/MavenPro-Regular.svg#MavenPro-Regular") format("svg"),
    url("/assets/fonts/MavenPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("/assets/fonts/MavenPro-Medium.eot"),
    url("/assets/fonts/MavenPro-Medium.ttf") format("truetype"),
    url("/assets/fonts/MavenPro-Medium.svg#MavenPro-Medium") format("svg"),
    url("/assets/fonts/MavenPro-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("/assets/fonts/MavenPro-Bold.eot"),
    url("/assets/fonts/MavenPro-Bold.ttf") format("truetype"),
    url("/assets/fonts/MavenPro-Bold.svg#MavenProBold") format("svg"),
    url("/assets/fonts/MavenPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MavenPro";
    src: url("/assets/fonts/MavenPro-Black.eot"),
    url("/assets/fonts/MavenPro-Black.ttf") format("truetype"),
    url("/assets/fonts/MavenPro-Black.svg#MavenProBlack") format("svg"),
    url("/assets/fonts/MavenPro-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}


body {
    font-family: "MavenPro", sans-serif;
}

main {
    background: #fff;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 19px;
    font-weight: 700;
}

a {
    color: #f15a22;
    text-decoration: none;
}

a:hover {
    color: #da3c03;
    text-decoration: underline;
}

a:visited {
    color: #f15a22;
}

.align-left {
    float: left!important;
}

.align-right {
    float: right!important;
}

.align-center {
    text-align: center!important;
}

.white-background {
    background: #fff;
}

.ez-platform-label {
    position: absolute;
    margin: 0;
    color: #e88501;
    display: inline;
    left: 18.5%;
    top: 25%;
    font-size: 2.44vw;
}

.btn.btn-primary.download {
    position: absolute;
    left: 15%;
    top: 59%;
    font-size: 1.12vw;
    margin: 0;
    padding: 0.72vw 3vw;
    border-radius: 100px;
}

.btn {
    font-weight: 600;
    font-size: 21px;
    border-radius: 25px;
    padding: 10px 50px;
    white-space: normal;
}
.btn.btn-primary {
    border: none;
    background: #f15a22;
}

.btn.btn-primary:hover {
    background: #cb4716;
    border: none;
}

a.btn:visited {
    color: #fff;
}

.btn.btn-outline {
    border: 2px solid #63605d;
    color: #63605d;
}

a.btn.btn-outline:visited {
    color: #63605d;
}

.btn.btn-outline:hover {
    background: #b1b1b1;
    border: 2px solid #b1b1b1;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #f9fafa;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 23px;
    height: 60px;
}

.navbar-nav>li>a {
    color: #63605d;
    font-size: 18px;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f15a22;
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 12px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding: 0 0 50px 0;
}

footer .logo {
    margin-bottom: 20px;
    width: 120px;
}

.footer-content {
    color: #e6e7e8;
    background-color: #4c4c4c;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-content h4 {
    margin-top: 0;
    font-size: 18px;
}

.footer-content ul {
    padding: 0;
}

.footer-content li {
    list-style: none;
    padding-bottom: 5px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: #f7941d;
}

footer .footer-social i.fa {
    color: #fff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 75px;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    margin: 2px 10px 0 0;
    padding: 0;
}

.copyright-content {
    background-color: #3a3a3a;
    color: #d2c5bd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-content a,
.copyright-content a:hover {
    color: #f7941d;
}

.footer-social a:hover i.fa-youtube,
.footer-social a:hover i.fa-google-plus,
.footer-social a:hover i.fa-facebook,
.footer-social a:hover i.fa-linkedin,
.footer-social a:hover i.fa-twitter {
    color: #f7941d;
    border-color: #f7941d;
}

.button-load-more {
    margin-top: 40px;
}

.button-load-more button {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 2px solid #b1b1b1;
    border-radius: 23px;
    font-size: 17px;
    padding: 10px 0;
    width: 100%;
    white-space: normal;
    color: #b1b1b1;
    background: inherit;
    outline: none;
}

.button-load-more button:hover {
    background: #b1b1b1;
    color: #fff;
}

.button-load-more-progress {
    width: 48px;
    height: 48px;
    margin: auto;
    background: url('/assets/images/loading.svg') no-repeat;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader_spin 1s linear infinite;
    animation: loader_spin 1s linear infinite;
}

@keyframes loader_spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.button-load-more-error {
    text-align: center;
    font-size: 17px;
    color: #c34111;
    font-weight: 600;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding-top: 15px;
}

.banner-slider-text {
    padding-top: 20px;
    padding-bottom: 10px;
    background: #fe5923;
    text-align: center;
    color: #fff;
    font-size: 14pt;
}

.banner-slider-text a {
    color: #fff;
    text-decoration: underline;
}

section#top-banner {
    .text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2.field-title {
            font-weight: 900;
            font-size: 50px;
            padding-bottom: 25px;
        }

        .field-subtitle {
            font-size: 23px;

            .ezbutton {
                font-size: 19px;
                font-weight: 500;
            }
        }
    }
}
