div.package {
    padding: 50px 0;
    background-color: $white;

    &__banner {
        height: 326px;
        padding: 70px;

        &--orange {
            background-color: $bright-orange;
        }
    }

    &__header {
        font-size: 35px;
        font-weight: 600;
        color: $white;
        display: inline-block;
        float: left;
    }

    &__header-btn {
        margin-top: 50px;
        padding: 10px 25px;
        border: 2px solid $white;
        float: left;
        border-radius: 40px;
        font-weight: 700;
        color: $white;
        clear: both;

        &:hover {
            color: #da3c03;
            background-color: $white;
            text-decoration: none;
        }
    }

    &__nav-tab {
        margin-top: 25px;
        padding: 0 40px;
        background-color: $grey;
        border-bottom: none;

        .nav-item {
            margin-right: 50px;
        }

        &.nav-tabs {
            .nav-link {
                color: $white;
                padding-top: 15px;
                padding-bottom: 8px;

                &.active {
                    font-weight: 700;
                }

                &.active, &:hover, &:active {
                    color: $white;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-bottom: 3px solid $white;
                }
            }
        }
    }

    &__tab-content {
        color: $grey;
        margin-top: 50px;
    }

    &__details {
        padding: 40px;
        background-color: $bright-grey;

        &-section {
            display: block;
            clear: both;
            margin-bottom: 30px;
            font-weight: 700;

            &-header {
                font-size: 16px;
                color: $grey;
                font-weight: 600;
                margin-bottom: 5px;
            }

            &-categories {
                a {
                    &:hover {
                        background-color: #494948;
                        text-decoration: none;
                        color: $primary;
                    }
                }
            }

            &-stars .fa-star {
                color: $primary;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    &__category-btn {
        padding: 5px 20px;
        border-radius: 5px;
    }

    &__category-btn--dark-grey {
        background-color: $grey;
        color: $white;
        display: inline-block;
        margin-bottom: 10px;

        &:visited {
            color: $white;
        }
    }

    .author-avatar {
        width: 20px;
        height: 20px;
    }
}

#readme {
    h1, a {
        word-break: break-all;
    }
}
