<figure class="cd-image-container">
    {{ ez_render_field(content, 'right_image', {
        'template': 'fields/slider_image.html.twig',
        'parameters': {
            'class': 'img-responsive'
        }
    }) }}

    <div class="cd-resize-img">
        {{ ez_render_field(content, 'left_image', {
            template: 'fields/slider_image.html.twig'
        }) }}
    </div>

    <span class="cd-handle"></span>
    <h1 class="ez-platform-label">eZ Platform</h1>
    <a class="btn btn-primary download" href="#download">DOWNLOAD EZ PLATFORM</a>
</figure>

<script>
    {% autoescape 'js' %}
    // credits to http://codyhouse.co/gem/css-jquery-image-comparison-slider/
    $(document).ready(function ($) {
        $('.cd-resize-img img').width($('.cd-image-container img').css('width'));
        drags($('.cd-handle'), $('.cd-resize-img'), $('.cd-image-container'));
        $(window).load(function () {
            $('.cd-image-container').addClass('is-visible');
        });
        $(window).on('resize', function () {
            $('.cd-resize-img img').width($('.cd-image-container img').css('width'));
        });
    });
    function drags(dragElement, resizeElement, container) {
        dragElement.on("mousedown vmousedown", function (e) {
            dragElement.addClass('draggable');
            resizeElement.addClass('resizable');
            var dragWidth = dragElement.outerWidth(),
                    xPosition = dragElement.offset().left + dragWidth - e.pageX,
                    containerOffset = container.offset().left,
                    containerWidth = container.outerWidth(),
                    minLeft = containerOffset + 10,
                    maxLeft = containerOffset + containerWidth - dragWidth - 10;
            dragElement.parents().on("mousemove vmousemove", function (e) {
                leftValue = e.pageX + xPosition - dragWidth;
                if(leftValue < minLeft ) {
                    leftValue = minLeft;
                } else if ( leftValue > maxLeft) {
                    leftValue = maxLeft;
                }
                widthValue = (leftValue + dragWidth/2 - containerOffset)*100/containerWidth+'%';
                $('.draggable').css('left', widthValue).on("mouseup vmouseup", function () {
                    $(this).removeClass('draggable');
                    resizeElement.removeClass('resizable');
                });
                $('.resizable').css('width', widthValue);
            }).on("mouseup vmouseup", function (e){
                dragElement.removeClass('draggable');
                resizeElement.removeClass('resizable');
            });
            e.preventDefault();
        }).on("mouseup vmouseup", function (e) {
            dragElement.removeClass('draggable');
            resizeElement.removeClass('resizable');
        });
    }
    {% endautoescape %}
</script>
