<figure class="cd-image-container">
    {{ ez_render_field(content, 'right_image', {
        'template': '@ezdesign/fields/slider_image.html.twig',
        'parameters': {
            'class': 'img-responsive'
        }
    }) }}

    <div class="cd-resize-img">
        {{ ez_render_field(content, 'left_image', {
            'template': '@ezdesign/fields/slider_image.html.twig'
        }) }}
    </div>

    <span class="cd-handle"></span>
    <h1 class="ez-platform-label">eZ Platform</h1>
    <a class="btn btn-primary download" href="#download">DOWNLOAD EZ PLATFORM</a>
</figure>
